* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: gray;
  line-height: 1.6;
}

header {
    height: 400px;
    background-image: url(img/mv.jpg);
    background-size: cover;
    background-position: bottom;
}

header h1 {
    padding: 20px;
}

main {
    width: 840px;
    margin: 50px auto;
}

.blog-box {
    margin-top: 30px;
}

.blog-box img {
    margin-bottom: 5px;
}

.blog-item {
    border-bottom: 1px solid gray;
    padding-bottom: 30px;
}